h2
 {
        color: blue;
        text-align: center;
        font-size: 30;
      }


img
{ height: 300px;
width: 300px;
padding:20px;
margin: auto;
border: blue;
}

p
{padding: 5px 30px;
   

}


.footer {
    background-color: yellow;

}
.cart
{padding: 30px;


}
.containers {
    background-color: yellow;
    margin: auto;
}
.container-fluid {
background-color: yellow;
}

.containerone { background-color: light yellow ;


}

}








