h2
 {
        color: blue;
        text-align: center;
        font-size: 30;
      }
      h3 {
color: blue;
      }


img
{ height: 250px;
width: 250px;
margin: auto;
border: blue;
}

p
{padding: 5px 30px;
   

}


.footer {
    background-color: yellow;

}
.cart
{padding: 30px;


}
.containers {
    background-color: yellow;
    margin: auto;
}
.container-fluid {
background-color: yellow;

.col-lg-3 {
padding:30px;

}
}

.containerone { background-color: light yellow ;


}

}








